{% extends "Moneda/base.html" %}

{% load static %}

{% block Contenido %}

{% if errors %}
<p style="color:red;">{{errors}}</p>
{% endif %}

<header class="masthead">
  <div class="container">
    <div class="masthead-heading text-uppercase" style="color: #f5f5f5;">AGREGAR AVATAR</div>
  </div>
</header>

<section style="background-color: #f5f5f5;">
  <div class="container justify-content-center mt-5" style="width:fit-content; ">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}

      <img src="{{imagen_url}}">

      {{ formulario.as_p }}

      <input type="submit" value="GUARDAR" class="container justify-content-center btn btn-primary">
    </form>
  </div>
</section>



{% endblock %}