{% extends "Moneda/base.html" %}

{% load static %}

{% block Contenido %}

{% if errors %}
<p style="color:red;">{{errors}}</p>
{% endif %}

<header class="masthead">
  <div class="container">
    <div class="masthead-heading text-uppercase" style="color: #f5f5f5;">EDITAR PEFIL</div>
  </div>
</header>

<section style="background-color: #f5f5f5;">
  <div class="container justify-content-center mt-5" style="width:fit-content; ">
    <form method="post">
      {% csrf_token %}
      <h4 style="text-align: center;">EDITAR DATOS</h4>
      {{ formi.as_p }}
      <div style="display:flex;justify-content: center;">
      <input type="submit" value="GUARDAR" class="btn btn-primary btn-xl text-uppercase">
    </div>

    </form>

  </div>
</section>

{% endblock %}