{% extends "Moneda/base.html" %}

{% load static %}

{% block Contenido %}

{% if errors %}

<p style="color:red">Errores en el inicio de sesión: {{errors}}</p>

{% endif %}

<header class="masthead">
    <div class="container">
        <div class="masthead-heading text-uppercase" style="color: #f5f5f5;">INICIAR SESIÓN</div>
    </div>
</header>

<section style="background-color: #f5f5f5;">
<div class="container justify-content-center mt-5" style="width:fit-content; ">
    <form method="post" >
        {% csrf_token %}

        {{form.as_p}}

        <input type="submit" value="INICIAR SESIÓN" class="btn btn-primary container justify-content-center ">

    </form>
    <p>Si aún no tenes cuenta. <a href="{% url 'auth-register' %}">REGISTRATE</a></p>
</div>
</section>




{% endblock %}