{% extends "Moneda/base.html" %}

{% load static %}

{% block Contenido %}

{% if errors %}

<p style="color:red">Errores en el registro de usuario: {{errors}}</p>

{% endif %}

<div class="container justify-content-center mt-5" style="width:fit-content">
    <form method="post">
        {% csrf_token %}

        {{form.as_p}}

        <input type="submit" value="REGISTRAR" class="container justify-content-center ">

    </form>
    <p>¿Ya tenes cuenta?. Entonces <a href="{% url 'auth-login' %}">INICIA SESIÓN</a></p>
</div>

{% endblock %}