{% extends "Moneda/base.html" %}

{% load static %}

{% block Contenido %}
<header class="masthead">
    <div class="container">
        <div class="masthead-heading text-uppercase" style="color: #f5f5f5;">SLOTS</div>
    </div>
</header>
<section style="background-color: #f5f5f5;">
    <div class="container justify-content-center mt-5" style="width:fit-content; ">
        <h1>{{m1}}</h1><br>
        <h1>{{m2}}</h1><br>
        <h1>{{m3}}</h1><br>
    </div>
    
    <h2 style="color: black; text-align: center;"> {{resultado}}<br></h2>
    

    <div style="padding-top: 4rem;">
        <a href="{% url 'home-inicio' %}" style="display: flex;justify-content: center;"><button
                class="btn btn-primary btn-xl text-uppercase">Volver al Inicio</button></a>
    </div>
</section>

{% endblock %}